*{
    font-family: 'Courier New', Courier, monospace;
    background-color: #111d35;
    font-size: 30px;
    color: #ffff;
}
.tittle-app{
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid white;
}

body {
    padding: 60px;

}
button {
    background-color: #daf1f6;
    color: black;
    padding: 10px;
    border-radius: 15px;
    font-size: 25px;

}
input{
    background-color: white;
    color: black;
    font-size: 25px;
    border-radius: 10px;
    width: 100%;
}
.card-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card{
    align-content: center;
    border: 1px solid white;
    border-radius: 10px;
    overflow: hidden;
    margin: 5px;
    padding: 5px;
}

.card p{
    padding: 5px;
    text-align: center;
}

.card img{
    max-height: 170px;
    display: block;
    margin: 0px auto;
}